@model AlwaysMoveForward.PointChart.Web.Models.ChartModel
@using AMF = AlwaysMoveForward.PointChart.Common.DomainModel;           
@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerPlugins
{
    <script src="@Url.Content("~/Scripts/Charts/Chart.js")" type="text/javascript"></script>
}
<form id="addChartForm" action="/Chart/Add" method="post">
    <input type="hidden" name="chartName" id="chartName" value="" />
</form>
<form id="editChartForm" action="/Chart/Edit" method="post">
    <input type="hidden" id="editPointEarnerId" name="editPointEarnerId" value=""/>
    <input type="hidden" id="editChartId" name="editChartId" value="" />
    <input type="hidden" name="editChartName" id="editChartName" value="" />
</form>

<form id="showChartTasks" action="/Chart/ShowTasks" method="post">
    <input type="hidden" id="pointEarnerId" name="pointEarnerId" value=""/>
    <input type="hidden" id="chartId" name="chartId" value="" />
</form>
<table class="tableBase">
    <thead>
        <tr class="tableHeader">
            <td width="1%">&nbsp;</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
    @{
        int rowCounter = 0;

        foreach (AMF.Chart chartItem in Model.Charts)
        {
            if (rowCounter % 2 == 0)
            {
                <text><tr class='tableRow1'></text>
            }
            else
            {
                <text><tr class='tableRow2'></text>
            }

            rowCounter++;
            String inputRoot = "chartInput" + @chartItem.Id + "Element";
            String nameInput = inputRoot + "ChartName";
            String pointEarnerIdField = inputRoot + "PointEarnerId";
            String actionArea = inputRoot + "ActionArea";            
            <td>
                <input type="hidden" id="@pointEarnerIdField" name="pointEarnerIdField" value="@chartItem.PointEarner.Id"/>
                <input type="radio" name="selectedChart" onclick="Chart.HandleSelection('@chartItem.Id');"/>
            </td>
            <td><input type="text" name="@nameInput" id="@nameInput" value="@chartItem.Name" class="readonly" disabled="true"/></td>
            <td id="@actionArea" name="@actionArea" class="readonly hidden">
                <a href="/Chart/Deactivate?chartId=@chartItem.Id"><img src="@Url.Content("~/Content/images/action_delete.png")" class="deleteList" alt=""/></a>
                <a href="javascript:Chart.SaveEdit(@chartItem.Id);"><img src="@Url.Content("~/Content/images/save.png")" alt=""/></a>
            </td>
            @Html.Raw("</tr>")
        }
        <tr>
            <td>&nbsp;</td>
            <td><input type="text" id="newName" name="newName" /></td>
            <td><input type="button" id="saveListItemButton" value="Add Item" onclick="Chart.AddChart();"/></td>
        </tr>
    }
    </tbody>
</table>
<div id="chartTasksContainer">
</div>  