@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.BusinessLayer.Utilities;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminToolLayout.cshtml";
}
@section headerPlugins
{
    @RenderSection("headerPlugins", false)
}
<div class='adminLinkSection'>
    <span>
        <select id="targetBlog" name="targetBlog" onchange="AdminCommon.HandleBlogSelectionChange();">
        @{
            SecurityPrincipal currentPrincipal = HttpContext.Current.User as SecurityPrincipal;
        }
        @foreach (Blog blogItem in ViewBag.Common.UserBlogs)
        { 
            <option id="@blogItem.BlogId" name="@blogItem.SubFolder" value="@blogItem.SubFolder" @if (blogItem.BlogId == ViewBag.Common.TargetBlog.BlogId)
                                                                                            {<text> selected </text>}>@blogItem.Name</option>
        }            
        </select>
        @if (currentPrincipal.IsInRole(RoleType.Names.Administrator) == true || currentPrincipal.IsInRole(RoleType.Names.Blogger) == true)
        {
            <text><a href='/Admin/ManageBlog/Preferences'> Blog Settings</a> | </text>
            <text><a href='/Admin/ManageLists/Index'> Manage Lists</a> | </text>
        } 
        @if (currentPrincipal.IsInRole(RoleType.Names.Administrator) == true ||
            currentPrincipal.IsInRole(RoleType.Names.Blogger) ||
            currentPrincipal.IsInRole(RoleType.Names.SiteAdministrator) == true)
        { 
            <text><a href='/Admin/ManageBlog/ManagePosts'> Manage Posts</a> |  </text>
            <text><a href='/Admin/ManageBlog/ManageComments'> Administer Comments</a></text>
        }                
    </span>
</div>
<div class="contentPanel">
    @RenderBody()
</div>
