@model AlwaysMoveForward.PointChart.Web.Models.PointEarnerModel
@using AMF = AlwaysMoveForward.PointChart.Common.DomainModel;           
@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerPlugins
{
    <script src="@Url.Content("~/Scripts/Controllers/PointEarnerController.js")" type="text/javascript"></script>
}
<div>
    <label>Point Earner</label>: @Model.PointEarner.FirstName @Model.PointEarner.LastName<br/>
    <label>Points Earned</label>: @Model.PointEarner.PointsEarned<br/>
    <label>Points Spent</label>: <a href="/PointEarner/PointsDetail/@Model.PointEarner.Id">@Model.PointEarner.TotalPointsSpent</a>
</div>
<div>
    <div>
        <label>Charts</label>
    </div>
    <div ng-controller="PointEarnerController">
        <table class="tableBase">
            <thead>
                <tr class="tableHeader">
                    <td width="5%">&nbsp;</td>
                    <td>Name</td>
                    <td>Points Earned</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody ng-init="getPointEarnerCharts(@Model.PointEarner.Id);">
                <tr ng-repeat="chart in pointEarnerCharts.Charts" ng-class-even="tableRow1" ng-class-odd="tablerow2">
                    <td><input type="radio" name="selectedChart" value="{{chart.Id}}" ng-change="handleChartSelection({{ chart }});" ng-model="chartElements.selectedChart" /></td>
                    <td><a href="/Chart/ViewChart/{{ pointEarnerCharts.PointEarner.Id }}/{{chart.Id}}">{{chart.Name}}</a></td>
                    <td></td>
                    <td>
                        <a class="readonly" ng-click="deleteChart('{{ task.Id }}');">
                            <img src="/Content/images/action_delete.png" class="deleteList" alt="" />
                        </a>
                    </td>
                </tr>
                <tr ng-form="newPointEarnerChartForm">
                    <td>&nbsp;</td>
                    <td><input type="text" name="chartName" ng-model="newPointEarnerChart.name" required /></td>
                    <td>&nbsp;</td>
                    <td><input type="button" value="Add Item" ng-disabled="newPointEarnerChart.$invalid" ng-click="addPointEarnerChart();" /></td>
                </tr>
            </tbody>
        </table>
        <br />
        <div id="chartTasksContainer">
            <div id="chartTaskSection">
                <table class="tableBase">
                    <thead>
                        <tr class="tableHeader">
                            <td>&nbsp;</td>
                            <td width="20%">Name</td>
                            <td width="20%">Points</td>
                            <td width="205">Max Allowed Daily</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in selectedChart.Tasks" ng-class-even="tableRow1" ng-class-odd="tablerow2">
                            <td><input type="radio" name="selectedTask" value="{{task.Id}}" /></td>
                            <td><input type="text" name="taskName" class="readonly" value="{{ task.Name }}" /></td>
                            <td><input type="text" name="taskPoints" class="readonly" value="{{task.Points}}" /></td>
                            <td><input type="text" name="taskMaxAllowed" class="readonly" value="{{task.MaxAllowedDaily}}" /></td>
                            <td>
                                <a class="readonly" ng-click="deleteTask('{{ task.Id }}');">
                                    <img src="/Content/images/action_delete.png" class="deleteList" alt="" />
                                </a>
                                <input type="button" value="Save" ng-click="saveTask();" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" name="name" ng-model="newTask.name" required /></td>
                            <td><input type="text" name="points" ng-model="newTask.points" required /></td>
                            <td><input type="text" name="maxAllowedDaily" ng-model="newTask.maxAllowedDaily" /></td>
                            <td><input type="button" value="Add Item" ng-click="addTask();" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 