
@{
    ViewBag.Title = "_AdminLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{
	<link rel="stylesheet" type="text/css" href="~/css/NavBar.css" />
	<link rel="stylesheet" type="text/css" href="~/css/Admin.css" />
    <script src="~/lib/angular/angular.min.js")" type="text/javascript"></script>
    <script src="~/lib/angular-resource/angular-resource.js")" type="text/javascript"></script>
	<script src="~/lib/angular-route/angular-route.js" )" type="text/javascript"></script>
    <script src="~/js/Modules/ServiceDefinitionModule.js" type="text/javascript"></script>
    @RenderSection("headerPlugins", false)
}
<div class="adminPage">
    <div class="adminHeader">
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand">Management Tool</span>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li @if (@ViewBag.SelectedTab == 0) { <text> class='active' </text>     }>
                            <a href="/Admin/Management/Index">Home</a>
                        </li>
                        <li @if (@ViewBag.SelectedTab == 1) { <text> class='active' </text>      }>
                            <a href="/Admin/ManageConsumers/Index">Consumers</a>
                        </li>
						<li @if (@ViewBag.SelectedTab == 2) { <text> class='active' </text>      }>
							<a href="/Admin/ManageResources/Index">Resources</a>
						</li>
                        <li @if (@ViewBag.SelectedTab == 3) { <text> class='active' </text>       }>
                            <a href="/Admin/ManageTokens/Index">OAuth Tokens</a>
                        </li>
                        <li @if (@ViewBag.SelectedTab == 4) { <text> class='active' </text>    }>
                            <a href="/Admin/ManageUsers/Index">Users</a>
                        </li>
                        <li @if (@ViewBag.SelectedTab == 5) { <text> class='active' </text>     }>
                            <a href="/Admin/ManageUsers/LoginHistory">Login History</a>
                        </li>
						<li @if (@ViewBag.SelectedTab == 6) { <text> class='active' </text>      }>
							<a href="/Admin/ManageApis/Index">Apis</a>
						</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="adminContent">
        @RenderBody()
    </div>
</div>

