@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.UserModel
@using AlwaysMoveForward.Common.DataLayer.Entities;
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Areas/Admin/Views/Shared/_AdminToolLayout.cshtml";
}
@section headerPlugins
{
    <script src="/Scripts/Admin/ManageUsers.js" type="text/javascript"></script>
    <!-- TinyMCE -->
    <script type="text/javascript" src="/Content/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            // General options
            mode: "textareas",
            theme: "AnotherBlog"
        });
    </script>
    <!-- /TinyMCE -->
 }

<div class="bodyContent">        
    <div class="contentPageTitle">
        <label>Edit User</label>
    </div> 
    <div class="editAreaContainer">
        <div class="editAreaSubContainer">
            <br />
            <form action="/Admin/UserManagement/Edit" method="post">
                <input type="hidden" name="performSave" value="true" />
                <table>
                    <tr>
                        <th class="editItemLabel">user name:</th>
                        <td><input type="text" name="userName" id="userName" value="@Model.CurrentUser.UserName" /></td>
                        <td>@Html.ValidationMessage("userName")</td>
                    </tr>
                    <tr>
                        <th  class="editItemLabel">password:</th>
                        <td><input type="password" name="password" id="password" /></td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">email:</th>
                        <td><input type="text" name="email" id="email" value="@Model.CurrentUser.Email" /></td>
                        <td>@Html.ValidationMessage("email")</td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">display name:</th>
                        <td><input type="text" name="displayName" id="displayName" value="@Model.CurrentUser.DisplayName" /></td>
                        <td>@Html.ValidationMessage("displayName")</td>
                    </tr>
                    <tr>                    
                        <th class="editItemLabel">site Administrator:</th>
                        <td>@Html.CheckBox("isSiteAdmin", @Model.CurrentUser.IsSiteAdministrator)</td>
                    </tr>
                    <tr>                    
                        <th class="editItemLabel">approved Commenter:</th>
                        <td>@Html.CheckBox("approvedCommenter", @Model.CurrentUser.ApprovedCommenter)</td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">active:</th>
                        <td>@Html.CheckBox("isActive", @Model.CurrentUser.IsActive)</td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">about:</th>
                        <td><textarea class="textAreaInput" id="userAbout" name="userAbout" cols="2">@Model.CurrentUser.About</textarea></td>
                    </tr>
                </table>
                <input type="hidden" name="userId" id="userId" value="@Model.CurrentUser.UserId" />
                <input style="margin-left:25%" type="submit" ID="saveButton" value="Save"/>
            </form>
            <br />
            <div id="userBlogsContainer" name="userBlogsContainer">
                <form id="viewUserBlogs" action="/Admin/UserManagement/ManageBlogs" method="post">
                        <input type="hidden" name="userId" value="@Model.CurrentUser.UserId" />
                </form>
                <script type="text/javascript">
                    ManageUsers.EditUserInitializeUserBlogs();
                </script>
            </div>
            <form id="userAddBlogForm" action="/Admin/UserManagement/AddBlog" method="post">
                <label>Grant Access</label> 
                <input type="hidden" name="userId" id="userId" value="@Model.CurrentUser.UserId" />
                <table>
                    <tr>
                        <th class="editItemLabel">blog:</th>
                        <td>
                            <select id="targetBlog" name="targetBlog">
                            @foreach (int blogKey in @Model.Blogs.Keys)
                             { 
                                <option id="@Model.Blogs[blogKey].Name" name="@Model.Blogs[blogKey].Name" value="@Model.Blogs[blogKey].BlogId.ToString()">@Model.Blogs[blogKey].Name</option>
                             }
                            </select>        
                        </td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">role:</th>
                        <td>
                            <select id="blogRole" name="blogRole">
                            @foreach (Role roleItem in ViewData.Model.Roles)
                            { 
                                <option id="@roleItem.Name" name="@roleItem.Name" value="@roleItem.RoleId.ToString()">@roleItem.Name</option>
                             }
                            </select>        
                        </td>
                    </tr>
                </table>
                <br />
                <input type="submit" id="submitAddNewBlog" value="Grant Blog Access"/>
            </form>
            <script type="text/javascript">
                ManageUsers.EditUserSetupUserBlogAjax();
            </script>
            </div>
    </div>
</div>