@model AlwaysMoveForward.OAuth2.Web.Models.Consent.ConsentViewModel
@{
    ViewBag.Title = "Grant Consent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function() {
        $("#approveButton").click(function(){
            $("#approveAccessForm").submit();
        });

        $("#denyButton").click(function(){
            $("#denyAccessForm").submit();
        });
    });
</script>
<div class="messaging-container">
    <div id="ctlx2" class="panel panel-primary loginPanel">
        <div class="panel-heading">
            <h3 class="panel-title">Would you like to grant @Model.ClientName access to your data?</h3>
			<div class="panel-body">
				<form id="approveAccessForm" action="/Consent/ApproveAccess" method="post">
					@Html.AntiForgeryToken()
					<input type="hidden" name="redirectUrl" value="@Model.ReturnUrl" />

					@if (Model.IdentityScopes.Any())
					{
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="glyphicon glyphicon-user"></span>
								Personal Information
							</div>

							<ul class="list-group">
								@foreach (var scope in Model.IdentityScopes)
								{
									@Html.Partial("_ScopeListItem", scope)
								}
							</ul>
						</div>
					}

					@if (Model.ResourceScopes.Any())
					{
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="glyphicon glyphicon-tasks"></span>
								Application Access
							</div>

							<ul class="list-group">
								@foreach (var scope in Model.ResourceScopes)
								{
									@Html.Partial("_ScopeListItem", scope)
								}
							</ul>
						</div>
					}
					<button type="button" id="approveButton" class="btn btn-primary">Approve</button>
				</form>
			</div>
			<div class="panel-body">
				<form id="denyAccessForm" action="/Consent/DenyAccess" method="post">
					@Html.AntiForgeryToken()
					<input type="hidden" name="redirectUrl" value="@Model.ReturnUrl" />
					<button type="button" id="denyButton" class="btn btn-danger">Deny</button>
				</form>
			</div>
		</div>
    </div>
</div>