@model AlwaysMoveForward.PointChart.Web.Models.ChartTaskModel
@using AlwaysMoveForward.PointChart.Common.DomainModel;
@{
    Layout = null;
}
<div id="chartTasksContainer">
    <form id="deleteTaskForm" action="/Chart/DeleteTask" method="post">
        <input type="hidden" id="chartId" name="chartId" value="" />
        <input type="hidden" id="taskId" name="taskId" value="" />
    </form>
    <br />
    <h3>Chart Tasks</h3>
    <br />
    <table class="tableBase">
        <thead>
            <tr class="tableHeader">
                <td width="20%">Name</td>
                <td width="20%">Points</td>
                <td width="205">Max Allowed Daily</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @{
                int rowCounter = 0;
                foreach (Task chartTaskItem in @Model.ChartTasks)
                {

                    if (rowCounter % 2 == 0)
                    {
                        <text><tr class='tableRow1'></text>
                    }
                    else
                    {
                        <text><tr class='tableRow2'></text>
                    }

                    rowCounter++;
                    String chartTaskName = "chartTaskName" + @chartTaskItem.Id;
                    String chartTaskPoint = "chartTaskPoint" + @chartTaskItem.Id;
                    String chartTaskMaxAllowed = "chartTaskMax" + @chartTaskItem.Id;
                
                    <td><input type="text" id="@chartTaskName" name="@chartTaskName" class="readonly" value="@chartTaskItem.Name" disabled="true"/></td>
                    <td><input type="text" id="@chartTaskPoint" name="@chartTaskPoint" class="readonly" value="@chartTaskItem.Points" disabled="true"/></td>
                    <td><input type="text" id="@chartTaskMaxAllowed" name="@chartTaskMaxAllowed" class="readonly" value="@chartTaskItem.MaxAllowedDaily" disabled="true"/></td>
                    <td><a class="readonly" href="javascript:Chart.DeleteTask('@Model.Chart.Id', '@chartTaskItem.Id');"><img src="/Content/images/action_delete.png" class="deleteList" alt=""/></a></td>
                    @Html.Raw("</tr>")
                }
            }
        </tbody>
    </table>
    <br />
    <form id="addTaskToChart" action="/Chart/AddTask" method="post">
        <input type="hidden" name="chartId" value="@Model.Chart.Id" />
        <table>
            <tr>
                <td>
                    <select id="taskSelection" name="taskSelection" onchange="Chart.HandleTaskSelectionChange()">
                    @foreach (Task taskItem in @Model.Tasks)
                    {
                        <option name="chartTaskOption" value="@taskItem.Id" >@taskItem.Name</option>
                    }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    @foreach (Task taskItem in @Model.Tasks)
                    {
                        String taskPoints = "taskPoints" + @taskItem.Id;
                        String taskMaxPerDay = "taskMaxPerDay" + @taskItem.Id;
                        <input type="hidden" id="@taskPoints" value="@taskItem.Points" />
                        <input type="hidden" id="@taskMaxPerDay" value="@taskItem.MaxAllowedDaily" />                        
                    }

                    @if (@Model.Tasks.Count > 0)
                    {
                        <label>Points: </label><input type="text" id="selectedTaskPoints" value="@Model.Tasks[0].Points" /><br />
                        <label>Max Per Day: </label><input type="text" id="selectedTaskMaxPerDay" value="@Model.Tasks[0].MaxAllowedDaily" /><br />
                    }
                    else
                    {
                        <label>Points: </label><input type="text" id="selectedTaskPoints"/><br />
                        <label>Max Per Day: </label><input type="text" id="selectedTaskMaxPerDay" /><br />
                    }
                </td>
            </tr>
        </table>
        <input type="button" name="addTaskButton" value="Add Task" onclick="Chart.AddTaskToChart();" />
    </form>
</div>
