@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.ManagePollsModel
@using AlwaysMoveForward.Common.DomainModel.Poll;
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel
@{
    ViewBag.Title = "Edit Poll";
    Layout = "~/Areas/Admin/Views/Shared/_AdminToolLayout.cshtml";
}
@section headerPlugins
{
    <script src="/Scripts/Admin/ManagePolls.js" type="text/javascript"></script>
}

<div class="bodyContent">
    <div class="contentPageTitle">
        <label>Edit Poll</label>
    </div>
    <div class="editAreaContainer">
        <div class="editAreaSubContainer">
            <br />
            <form action="/Admin/ManagePolls/Edit" method="post">
                <input type="hidden" name="performSave" value="true" />
                <table>
                    <tr>
                        <th class="editItemLabel">title:</th>
                        <td><input type="text" name="title" id="title" value="@Model.CurrentPoll.Title" /></td>
                        <td>@Html.ValidationMessage("title")</td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">question:</th>
                        <td><input type="text" name="question" id="question" value="@Model.CurrentPoll.Title" /></td>
                    </tr>
                </table>
                <input type="hidden" name="userId" id="userId" value="@Model.CurrentPoll.Id" />
                <input style="margin-left:25%" type="submit" id="saveButton" value="Save" />
            </form>
            <br />
            <div id="userBlogsContainer" name="userBlogsContainer">
                <form id="viewUserBlogs" action="/Admin/UserManagement/ManageBlogs" method="post">
                    <input type="hidden" name="userId" value="@Model.CurrentUser.UserId" />
                </form>
                <script type="text/javascript">
                    ManageUsers.EditUserInitializeUserBlogs();
                </script>
            </div>
            <form id="userAddBlogForm" action="/Admin/UserManagement/AddBlog" method="post">
                <label>Grant Access</label>
                <input type="hidden" name="userId" id="userId" value="@Model.CurrentUser.UserId" />
                <table>
                    <tr>
                        <th class="editItemLabel">blog:</th>
                        <td>
                            <select id="targetBlog" name="targetBlog">
                                @foreach (int blogKey in @Model.Blogs.Keys)
                                {
                                    <option id="@Model.Blogs[blogKey].Name" name="@Model.Blogs[blogKey].Name" value="@Model.Blogs[blogKey].BlogId.ToString()">@Model.Blogs[blogKey].Name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">role:</th>
                        <td>
                            <select id="blogRole" name="blogRole">
                                @foreach (Role roleItem in ViewData.Model.Roles)
                                {
                                    <option id="@roleItem.Name" name="@roleItem.Name" value="@roleItem.RoleId.ToString()">@roleItem.Name</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <br />
                <input type="submit" id="submitAddNewBlog" value="Grant Blog Access" />
            </form>
            <script type="text/javascript">
                ManageUsers.EditUserSetupUserBlogAjax();
            </script>
        </div>
    </div>
</div>
