@model AlwaysMoveForward.OAuth.WebServer.Models.TokenModel
@{
    ViewBag.Title = "GrantAccess";
}
<div class="messaging-container">
    <div id="ctlx2" class="panel panel-primary loginPanel">
        <div class="panel-heading">
            <h3 class="panel-title">Would you like to grant @Model.ConsumerName access to your data?</h3>
        </div>
        <div class="panel-body">
            <form action="/User/ApproveAccess" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="oauthToken" value="@Model.Token" />
                <button type="button" class="btn btn-primary">Approve</button>
            </form>

            <form action="/User/DenyAccess" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="oauthToken" value="@Model.Token" />
                <button type="button" class="btn btn-primary">Deny</button>
            </form>
        </div>
    </div>
</div>
