@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.BlogListModel
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@if (@Model.CurrentList != null)
{  
    <div id="listItemsSection" >
        <form id="editBlogListItemForm" action="/Admin/List/EditListItem" method="post">
            <input type="hidden" id="blogSubFolder" name="blogSubFolder" value="@Model.Common.TargetBlog.SubFolder>"/>
            <input type="hidden" name="blogListId" value="@Model.CurrentList.Id" />
            <input type="hidden" id="editListItemId" name="editListItemId" value="" />
            <input type="hidden" id="editListItemName" name="editListItemName" value="" />
            <input type="hidden" id="editListItemRelatedLink" name="editListItemRelatedLink" value="" />
            <input type="hidden" id="editListItemDisplayOrder" name="editListItemDisplayOrder" value="" />
        </form>
        <form id="addNewListItemForm" action="/Admin/List/AddListItem" method="post">
            <input type="hidden" name="blogSubFolder" value="@Model.Common.TargetBlog.SubFolder" />
            <input type="hidden" name="blogListId" value="@Model.CurrentList.Id" />
            <table class="tableBase">
                <thead>
                    <tr class="tableHeader">
                        <td width="1%">&nbsp;</td>
                        <td width="20%">Name</td>
                        <td width="20%">Link</td>
                        <td width="5%">Display Order</td>
                        <td width="5%">&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                @{
                    int rowCounter = 0;

                    foreach (BlogListItem blogListItem in Model.CurrentListItems)
                    {
                        if (rowCounter % 2 == 0)
                        {
                           <text><tr class='tableRow1'></text>
                        }
                        else
                        {
                            <text><tr class='tableRow2'></text>
                        }

                        rowCounter++;
                        String listItemName = "listItemName" + @blogListItem.Id;
                        String listItemRelatedLink = "listItemRelatedLink" + @blogListItem.Id;
                        String listItemDisplayOrder = "listItemDisplayOrder" + @blogListItem.Id;
                        String listItemSaveButton = "listItemSaveButton_" + @blogListItem.Id;                        
                        <td><input type="radio" name="selectedListItem" onclick="ManageBlogLists.HandleBlogListItemSelection('@blogListItem.Id');"/></td>
                        <td><input type="text" id="@listItemName" name="@listItemName" class="readonly" value="@blogListItem.Name" disabled="true"/></td>
                        <td><input type="text" id="@listItemRelatedLink" name="@listItemRelatedLink" class="readonly" value="@blogListItem.RelatedLink" disabled="true"/></td>
                        <td><input type="text" id="@listItemDisplayOrder" name="@listItemDisplayOrder" class="readonly" value="@blogListItem.DisplayOrder" disabled="true"/></td>
                        <td><a class="readonly" href="/Admin/List/DeleteListItem?listItemId=@blogListItem.Id&blogSubFolder=@Model.Common.TargetBlog.SubFolder&blogListId=@Model.CurrentList.Id"><img src="/Content/images/action_delete.png" class="deleteList" alt=""/></a><input type="button" name="@listItemSaveButton" class="readonly hidden" value="Save" onclick="ManageBlogLists.SaveBlogListItemEdit(@blogListItem.Id);"/></td>
                        @Html.Raw("</tr>")
                    }
                    <tr>
                        <td><input type="radio" name="selectedListItem" onclick="ManageBlogLists.HandleBlogListItemSelection('-1');"/></td>
                        <td><input type="text" id="newListItemName" name="newListItemName" /></td>
                        <td><input type="text" id="newListItemRelatedLink" name="newListItemRelatedLink" /></td>
                        <td><input type="text" id="newListItemDisplayOrder" name="newListItemDisplayOrder" /></td>
                        <td><input type="button" id="saveListItemButton" value="Add Item" onclick="ManageBlogLists.AddBlogListItem();"/></td>
                    </tr>
                }
                </tbody>
            </table>
        </form>
    </div>
}