@model AlwaysMoveForward.Core.Common.Utilities.IPagedList<AlwaysMoveForward.OAuth2.Common.DomainModel.ConsumerManagement.Client>
@using AlwaysMoveForward.OAuth2.Web.Code.Extensions;
@{
    ViewBag.Title = "Manage Consumers";
    ViewBag.SelectedTab = 1;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headerPlugins
{
    <link href="~/css/Pager.css" rel="stylesheet" type="text/css" />
}
<div class="bodyContent">
    <div class="contentPageTitle">
        <H1>Manage Consumers</H1>
    </div>
	<a href="/Admin/ManageConsumers/Edit">Add Consumer</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">Name</th>
                <th width="20%">Contact Email</th>
                <th width="20%">Allow AutoGrant</th>
                <th width="20%">Token Lifetime</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (AlwaysMoveForward.OAuth2.Common.DomainModel.ConsumerManagement.Client oauthClient in @Model)
                {
                    <tr>
                        <td><a href="/Admin/ManageConsumers/Edit/@oauthClient.Id.ToString()">@oauthClient.ClientId</a></td>
                        <td>@oauthClient.ClientName</td>
                        <td></td>
                        <td></td>
                        <td>@oauthClient.AccessTokenLifetime</td>
						<td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
	<a href="/Admin/ManageConsumers/Edit">Add Consumer</a>
    <div class="pager">
        @Html.Pager(@Model.PageSize, @Model.PageNumber, @Model.TotalItemCount, "Index")
    </div>
</div>

