@model AlwaysMoveForward.OAuth2.Common.DomainModel.APIManagement.ProtectedApiResource;
@using AlwaysMoveForward.OAuth2.Common.DomainModel.APIManagement;
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	ViewBag.SelectedTab = 6;
}

@section headerPlugins
	{
	<script src="~/js/Controllers/ApiResourceController.js" type="text/javascript"></script>
}

@{
	Dictionary<String, String> readonlyAttributes = new Dictionary<string, string>();
	readonlyAttributes.Add("class", "readonly");
	readonlyAttributes.Add("disabled", "true");

}
<div class="bodyContent" ng-controller="ApiResourceController">
	<div class="bodyContent" ng-init="getById(@Model.Id);">
		<div class="contentPageTitle">
			<h1>Manage Apis</h1>
		</div>
		<input type="hidden" name="selectedApi" value="{{currentApiResource.id}}" />
		<div class="row">
			<div class="col-sm-2">Resource Name:</div>
			<div class="col-sm-2">{{currentApiResource.name}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Display Name:</div>
			<div class="col-sm-2">{{currentApiResource.displayName}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Description:</div>
			<div class="col-sm-2">{{currentApiResource.description}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Enabled:</div>
			<div class="col-sm-2">{{currentApiResource.enabled}}</div>
		</div>
		<div class="panel-heading">
			<h3 class="panel-title">Claims</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th width="1%">Claim</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" name="@IdentityModel.JwtClaimTypes.Name" ng-click="updateApiClaim(currentApiResource.id, '@IdentityModel.JwtClaimTypes.Name');" ng-checked="hasClaim(currentApiResource, '@IdentityModel.JwtClaimTypes.Name');">@IdentityModel.JwtClaimTypes.Name</></td>
					</tr>
					<tr>
						<td><input type="checkbox" name="@IdentityModel.JwtClaimTypes.Email" ng-click="updateApiClaim(currentApiResource.id, '@IdentityModel.JwtClaimTypes.Email');" ng-checked="hasClaim(currentApiResource, '@IdentityModel.JwtClaimTypes.Email');">@IdentityModel.JwtClaimTypes.Email</></td>
					</tr>
					<tr>
						<td><input type="checkbox" name="@IdentityModel.JwtClaimTypes.Role" ng-click="updateApiClaim(currentApiResource.id, '@IdentityModel.JwtClaimTypes.Role');" ng-checked="hasClaim(currentApiResource, '@IdentityModel.JwtClaimTypes.Role');">@IdentityModel.JwtClaimTypes.Role</></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

