@model AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels.RSSModel
@{
    Layout = null;
}

@using AlwaysMoveForward.AnotherBlog.Web;
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;

<?xml-stylesheet type="text/xsl" href="http://@Request.Url.Authority/Content/rss2html.xsl"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:cf="http://www.microsoft.com/schemas/rss/core/2005" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" xmlns:wfw="http://wellformedweb.org/CommentAPI/">
    @foreach (Blog blogItem in Model.Comments.Keys)
     {
        foreach (Comment entryComment in Model.Comments[blogItem])
        { 
            <channel xmlns:cfi="http://www.microsoft.com/schemas/rss/core/2005/internal" cfi:lastdownloaderror="None">
            <title cf:type="text">@entryComment.Post.Title</title>
            <link>@Request.Url.Scheme://@Request.Url.Authority@Utils.GenerateBlogEntryLink(entryComment.Post.Blog.SubFolder, entryComment.Post, false)</link>
            <description cf:type="text"></description>
            <dc:language>en-US</dc:language>
            <pubDate>@entryComment.DatePosted.ToShortDateString()</pubDate> 
            <generator>MVC RSS</generator>
            <item>
                <title xmlns:cf="http://www.microsoft.com/schemas/rss/core/2005" cf:type="text">By @entryComment.AuthorName </title>
                <link>@Request.Url.Scheme://@Request.Url.Authority@Utils.GenerateBlogEntryLink(entryComment.Post.Blog.SubFolder, entryComment.Post, false)</link>
                <pubDate>@entryComment.DatePosted</pubDate>
                <author>@entryComment.AuthorName</author>
                <description xmlns:cf="http://www.microsoft.com/schemas/rss/core/2005" cf:type="html">@entryComment.Text</description>
            </item>
        </channel>
        }
    } 
</rss>

