@model String
@using AlwaysMoveForward.PointChart.Web.Code.Utilities 
<div class="loginDiv" >
    <div id="loginFormsDiv">
        @if (this.Context.User != null && this.Context.User.Identity.IsAuthenticated == false)
        {
            <form id='loginForm' action="@Utils.GetSecureURL(ViewBag.BlogSubFolder, "/User/AjaxLogin", HttpContext.Current.Request.Url.Authority)" method='post'>   
                <div>
                    <span class="loginLabel">username:</span>
                    <input type="text" id="userName" name="userName"/>  
                </div>
                <div>
                    <span class="loginLabel">password:</span>
                    <input type="password" id="password" name="password"/>                    
                </div> 
                <div>
                    <input type="hidden" id="Hidden1" name="loginAction" value="login" />
                    <span id="loginErrorMessage" style="display:none" class="field-validation-error">Invalid Login</span>
                    <input type="button" id="submitLoginButton" value="log in" onclick="SiteLogin.SubmitLogin();"/>                    
                </div>
                <div>
                    <a class='loginLabel' id="showForgotPasswordLink" onclick="SiteLogin.ShowForgotPassword();">forgot password?</a>
                    <a class='loginLabel' href='@Utils.GetInSecureURL(ViewBag.BlogSubFolder, "/User/Register", HttpContext.Current.Request.Url.Authority)'>register</a>
                </div>
                <br />
            </form>
        }
        else
        { 
            <form id='loginForm' action="@Utils.GetSecureURL(ViewBag.BlogSubFolder, "/User/AjaxLogin", HttpContext.Current.Request.Url.Authority)" method='post'>   
                <span class="loginLabel">Hello</span>&nbsp;<a href='@Utils.GetInSecureURL(ViewBag.BlogSubFolder, "/User/Preferences", HttpContext.Current.Request.Url.Authority)'>@this.Context.User.Identity.Name</a>
                <input type="hidden" id="loginAction" name="loginAction" value="logout" />
                <input type="button" id="submitLogoutButton" value="log out" onclick="SiteLogin.SubmitLogin();"/>
            </form>
        } 
    </div>
    <div id="forgotPasswordFormDiv" style="display:none">
        <form id="forgotPasswordForm" action='@Utils.GetInSecureURL(ViewBag.BlogSubFolder, "/User/ForgotPassword", HttpContext.Current.Request.Url.Authority)' method="post">
            <span class="loginLabel">Enter your email address and a new password will be sent to you.</span>
            <input type="text" id="userEmail" name="userEmail" />
            <input type="button" id="submitForgotPasswordButton" value="submit" onclick="SiteLogin.SubmitForgotPassword();"/>
        </form>        
    </div>
</div>